<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MessagesExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>contentBlocker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>keyb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>shareext.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>unnoti.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>zlibttees.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB05609C1D9CFA7E000F12D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB4C2D031D9B57CD0046D782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB4C37781D9B7A940046D782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB4C378F1D9B7B1E0046D782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB9DC4961DA8D5ED00E58B9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB9DC4B11DA8DA0500E58B9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB9DC4C41DA8E2E100E58B9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB9DC4D41DA8E61500E58B9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF529591D9D0ED000011784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
